// Features section

.features-container {
    background-color: $ghost-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5em;
    padding: calc(9.6875em + 1.11em) 1em 4.48em;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        background-image: url("../assets/images/ghost-white-curve-bg.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 1.11em;
        position: absolute;
        bottom: -1.11em;
        left: 0;
    }
}

.feature {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "number"
        "title"
        "description";
    text-align: center;

    &__number,
    &__title {
        color: $dark-purple;
        font-weight: $fw-semi-bold;
        line-height: $lh-36px;
    }

    &__number {
        grid-area: number;
        width: 48px;
        height: 46px;
        font-size: $fs-20px;
        display: grid;
        place-content: center;
        border: 1px solid $davys-grey;
        border-radius: 50%;
    }

    &__title {
        grid: title;
        font-size: $fs-28px;
        margin-block: .85em .57em;
    }

    &__description {
        grid-area: description;
        color: $davys-grey;
        font-size: $fs-1rem;
        font-weight: $fw-reg;
        line-height: $lh-28px;
    }
}