.hero {
    background-color: $dark-purple;
    text-align: center;
    position: relative;
    z-index: 2;

    &__container {
        position: relative;
        padding: 0 1em 8.68em;
        display: grid;
        place-items: center;
        overflow: hidden;
    }

    &__title {
        color: $white-clr;
        font-size: $fs-50px;
        font-weight: $fw-semi-bold;
        line-height: $lh-50px;
    }

    &__image {
        width: 292.88px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 62%);
        z-index: 10;
        animation-name: move-down;
        animation-duration: 1.5s;
    }

    .learn-more-btn {
        margin-top: 2.5em;
    }

    .learn-more-btn--animation {
        animation-name: move-up;
        animation-duration: 3.5s;
    }

    &::after {
        content: "";
        background-image: url("../assets/images/dark-purple-curve-bg.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 1.11em;
        position: absolute;
        bottom: -1.11em;
        left: 0;
    }

    &__left-bg-image {
        display: none;
        width: 270.29px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-70%, 0);
        animation-name: fade-in;
        animation-duration: 6s;
    }

    &__right-bg-image {
        display: none;
        width: 141.7px;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(60%, -50%);
        animation-name: fade-in;
        animation-duration: 2s;
    }
}