* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $primary-ff;
    font-size: $root-fs;
    display: grid;
    place-items: center;
    height: 100vh;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    width: 100%;
}

a,
p {
    font-family: $secondary-ff;
}

a {
    text-decoration: none;
    display: inline-block;
}