@import 'variables';
@import 'reset';
@import 'utilities';
@import 'hero';
@import 'features';
@import 'founder';
@import 'footer';
@import 'attribution';

.header {
    background-color: $dark-purple;
    display: flex;
    justify-content: space-between;
    padding: 2em 1em 4.1em;
}

.header__logo {
    width: 95.76px;
}

.container {
    width: 100%;
    min-width: 375px;
    // max-width: 1440px;
}

.main {
    background-color: $white-clr;
}

// Buttons
.btn {
    font-size: $fs-1rem;
    font-weight: $fw-bold;
    line-height: $lh-32px;
    letter-spacing: -0.01rem;
}

.primary-btn {
    a {
        background-color: $eucalyptus;
        color: $dark-purple;
        padding: .72em 1.5em;
        border: 2px solid transparent;
        transition: background-color .5s ease-in-out, color 1s ease-in-out, border-color 1.5s ease-in-out;

        &:hover {
            background-color: transparent;
            color: $eucalyptus;
            border-color: $eucalyptus;
        }
    }
}

.secondary-btn {
    a {
        color: $white-clr;
        border-bottom: 2px solid $eucalyptus;
        transition: color .5s ease-in-out;

        &:hover {
            color: $eucalyptus;
        }
    }
}

// Utilities

.hide {
    display: none;
}

// Media Queries

@media only screen and (min-width: 700px) {

    .header {
        padding: 2em 2.5em 3.6em;
    }

    // Hero

    .hero {
        
        &__container {
            padding: 0 1em 10.4em;
        }

        &__title {
            width: 60%;
            font-size: $fs-60px;
            line-height: $lh-60px;
        }

        &__image {
            width: 479.15px;
            transform: translate(-50%, 62%);
        }

        &::after {
            height: 2.1875em;
            bottom: -2.1875em;
        }

        &__left-bg-image {
            display: block;
        }

        &__right-bg-image {
            display: block;
        }
    }

    // Features

    .features-container {
        flex-direction: column;
        gap: 3em;
        padding: calc(12.8em + 2.1875em) 6em 6.48em;

        &::after {
            height: 2.1875em;
            bottom: -2.1875em;
        }
    }

    .feature {
        justify-items: start;
        justify-content: start;
        gap: 1em 2em;
        grid-template-areas: 
            "number title"
            "number description";
        text-align: left;

        &__title {
            margin-block: 0;
        }

        &__description {
            width: 95%;
        }
    }

    // Founder

    .founder {
        text-align: start;
        padding: calc(6.27em + 2.1875em) 2.5em 0;
        grid-template-areas:
            "img content content";
        grid-template-columns: min-content;

        .image {
            width: 281px;
            position: relative;
        }
        
        &__texts-container {
            align-self: end;
            padding: 3em 3.5em;
            grid-column: 2 / -1;
            grid-row: 2;
            position: relative;
            left: -2.2em;
            width: calc(100% + 6.5em);
            margin-top: -8em;
            margin-left: -2em;
            
            z-index: 1;

            .founder-title {
                font-size: $fs-48px;
                line-height: $lh-56px;
            }

            .founder-description {
                margin-block: 1.5em 1.5em;
            }

            .founder-bg-image {
                display: block;
            }
        }
    }

    // Footer
    .footer {
        padding: 5em 0 7.61em;
    }
}

@media only screen and (min-width: 1000px) {

    .header {
            padding: 3.5em 10.3em;
        }

    // Buttons
    .btn {
        font-size: $fs-18px;
        font-weight: $fw-bold;
        line-height: $lh-32px;
        letter-spacing: -0.01125rem;
    }

    .primary-btn {
        a {
            padding: .7em 1.725em;
        }
    }
    
    // Hero

    .hero {

        &__container {
            padding: 0 1em 18.1em;
        }

        &__title {
            width: 40%;
            font-size: $fs-80px;
            line-height: $lh-80px;
        }

        &__image {
            width: 767px;
            transform: translate(-50%, 50%);
        }

        &::after {
            height: 4.25em;
            bottom: -4.25em;
        }

        &__left-bg-image {
            display: block;
            transform: translate(-39%, 0);
        }

        &__right-bg-image {
            display: block;
            transform: translate(25%, -140%);
        }

        .learn-more-btn {
            margin-top: 2.31em;
        }
    }

    // Features

    .features-container {
        flex-direction: row;
        gap: 1.62em;
        padding: calc(15.9375em + 4.25em) 10.185em 6.38em;

        &::after {
            height: 4.31em;
            bottom: -4.31em;
        }
    }

    .feature {
        justify-items: center;
        justify-content: center;
        gap: 0;
        grid-template-columns: repeat(auto-fill, minmax(100px, 354px));
        grid-template-areas:
            "number"
            "title"
            "description";
        text-align: center;

        &__number,
        &__title {
            line-height: $lh-40px;
        }

        &__number {
            width: 56px;
            height: 56px;
            font-size: $fs-24px;
        }

        &__title {
            font-size: $fs-32px;
            margin-block: 1.75em .875em;
        }

        &__description {
            font-size: $fs-18px;
            line-height: $lh-32px;
            width: 100%;
        }
    }

    // Founder

    .founder {
        text-align: start;
        padding: calc(6.27em + 2.1875em) 10.25em 0;
        grid-template-areas:
            "img content content";
        grid-template-columns: min-content;

        .image {
            width: 477px;
            position: relative;
        }

        &__texts-container {
            align-self: end;
            padding: 4em;
            grid-column: 2 / -1;
            grid-row: 2;
            position: relative;
            left: -2.2em;
            width: calc(100% + 6.5em);
            margin-top: -19em;
            margin-left: -2em;

            z-index: 1;

            .founder-title {
                font-size: $fs-56px;
                line-height: $lh-64px;
            }

            .founder-description {
                width: 98%;
                font-size: $fs-18px;
                line-height: $lh-32px;
                margin-block: 1.777em 1.777em;
            }

            .founder-bg-image {
                transform: translate(-40%, 30%);
            }
        }
    }

    // Footer
    .footer {
        padding: 7.61em 0 6.88em;
    }
}

@debug calc(255 / 16);
@debug calc((15.9375em + 4.25em) * 16)